.hc_container {
    width: 100%;
}

div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}

div.DTFC_LeftBodyLiner {
    overflow-x: hidden;
}

.dataTables_processing{
    position: fixed;
    z-index: 999;
}

.toolbar {
    float: right;
}

#csv_button {
    width: 100%;
}

div.loginTitle {
    background: #F70 url("banner.png") no-repeat scroll;
}

div.navboxes {
    padding-left: 5%;
}

div.boxBody {
    padding-left: 6%;
}

.icon-status::before {
    content: "\2193";
}

#logo {
    width: 150px;
    height: 42px;
    background-image: url(images/snapview.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    float: left;
}

#floating-clear {
    clear: both;
}

#gallery-img {
    float: left;
    width: 70%;
    margin-left: 3%;
    margin-right: 2%;
}
.gallery-img {
    width: 100%;
    height: 80rem;
    display: block;
}
.gallery-pdf {
    width: 100%;
    height: 80rem;
    display: block;
}

#gallery-form {
    float: left;
    width: 25%;
}

.btn {
    margin-right: 0.8%;
    width: 20%;
}

#wave-rate {
    float: left;
    width: 65%;
}


#wave-help {
    float: left;
    width: 35%;
}

a.fullbtn {
    margin-right: 0.0%;
    width: 100%;
}
a.fullbtn {
    margin-right: 0.0%;
    width: 100%;
}

table#mainLayout td#navColumnLeft, table#mainLayout td#navColumnRight {
    width: 25em;
}
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    margin-bottom: 15px;
}
.progress-bar {
    color: #000000;
}