html, body, #page, #mainLayout, #pageContent, #contentColumn {
    height: 100%;
}

h1 {
    border-bottom: none;
}

div#page {
    background: white;
}

div#completion {
    background: #e2e2e2;
}

div#footer {
    background: #e2e2e2;
}

div#pageContent {
    border: none;
    padding: 0;
}

input#rql {
    width: 100%;
}

header {
    min-width: 100%;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

header .header-content {
    padding-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: center;
}

header h1 {
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-weight: 500;
    padding-bottom: 20px;
}

header hr {
    margin: auto;
    border-color: #F05F40;
    border-width: 3px;
    max-width: 50px;
}

header p {
    padding-top: 20px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
}

header .btn-primary {
    color: #fff;
    margin-bottom: 100px;
}

header .btn {
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
}

header .btn-xl {
    padding: 10px 20px;
}

.container .row {
    margin-bottom: 100px;
}

.container h2 {
    padding-bottom: 5px;
}

.container hr {
    margin: auto;
    border-color: #fff;
    border-width: 3px;
    max-width: 50px;
}

.container p {
    padding-top: 20px;
}

.progress-bar {
    color: #000;
    white-space: nowrap;
}

table#mainLayout td#contentColumn {
    padding: 0 0 0;
}

#page {
    padding-left: 5%;
    padding-right: 3%;
    padding-bottom: 20px;
    margin-top: 0;
    padding-top: 50px;
}

.navbar {
    margin-bottom: 0;
}

.hc_container {
    width: 100%;
}

div.dataTables_wrapper {
    width: 100%;
    margin: 0 auto;
}

div.DTFC_LeftBodyLiner {
    overflow-x: hidden;
}

.dataTables_processing{
    position: fixed;
    z-index: 999;
}

.toolbar {
    float: right;
}

#csv_button {
    width: 100%;
}

div.loginTitle {
    background: #F70 url("banner.png") no-repeat scroll;
}

div.navboxes {
    padding-left: 5%;
}

div.boxBody {
    padding-left: 6%;
}

.icon-status::before {
    content: "\2193";
}

#logo {
    width: 150px;
    height: 42px;
    background-image: url(images/snapview.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    float: left;
}

#floating-clear {
    clear: both;
}

#gallery-img {
    width: 100%;
}

#gallery-img > img {
    height: 80rem;
    display: block;
    margin: auto;
}

.gallery-pdf {
    width: 100%;
    height: 80rem;
    display: block;
}

#gallery-form {
    padding-bottom: 1%;
    overflow: hidden;
    white-space: nowrap;
}

.btn {
    margin-right: 2%;
}

#wave {
    padding-top: 10px;
}

#category-component {
    padding-top: 10px;
}

#wave-rate {
    width: 65%;
}

#wave-help {
    float: left;
    width: 35%;
    padding-bottom: 10px;
}

a.fullbtn {
    margin-right: 0.0%;
    width: 100%;
}

#appliName {
    display: none;
}

ul > li {
    background: none;
}

.dropdown-menu {
    width: 500px;
}

.noborder {
    border:none !important;
}

/* side navbar */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

