<!-- Sidebar -->
<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
  <ul class="nav sidebar-nav">
    <li class="sidebar-brand">
      <a href="#">
       QC menu
      </a>
    </li>
    {% if anonymous_session %}
      <li>
        <a href="{{home_url}}"><i class="fa fa-fw fa-home"></i> Home</a>
      </li>
      <li>
        <a href="{{login_url}}"><i class="fa fa-fw fa-sign-in"></i> Sign in</a>
      </li>
    {% else %}
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-fw fa-plus"></i> Rate now
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu" role="menu">
          {% for category, waves in dropdown_items.items() %}
            <li class="dropdown-header">
              <font color="red">{{category}}</font>
            </li>
            {% for wave_name, url in waves %}
              <li><a href="{{url}}">{{wave_name}}</a></li>
            {% endfor %}
          {% endfor %}
        </ul>
      </li>
      {% for url, title, ico in icons %}
        <li>
          <a href="{{url}}"><i class="fa fa-fw {{ico}}"></i> {{title}}</a>
        </li>
      {% endfor %}
    {% endif %}
  </ul>
</nav>
<!-- /#sidebar-wrapper -->
<script>
  $(document).ready(function () {
    var trigger = $('.hamburger'),
    overlay = $('.overlay'),
    isClosed = false;

    trigger.click(function () {
      hamburger_cross();
    });

    function hamburger_cross() {

      if (isClosed == true) {
        overlay.hide();
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {
        overlay.show();
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
    }

    $('[data-toggle="offcanvas"]').click(function () {
      $('#wrapper').toggleClass('toggled');
    });
  });
</script>