<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>

    {% for url in css_url %}
        <link rel="stylesheet" type="text/css" href="{{url}}"/>
    {% endfor %}

</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="{{login_url}}"><i class="fa fa-2x fa-sign-in text-primary sr-icons"></i></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#start">GETTING STARTED</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#options">FIND OUT MORE</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">CONTACT</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header style="background-image:url('{{header_url}}');">
        <div class="header-content">
            <div class="header-content-inner">
                <h1 id="homeHeading">Welcome to the collaborative quality control system</h1>
                <hr>
                <p>This service has been built to help consortia during the
                   quality control of acquired and processed data.</p>
                <a href="#start" class="btn btn-primary btn-xl page-scroll">GETTING STARTED</a>
            </div>
        </div>
    </header>

    <section class="bg-primary" id="start">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">We've got what you need!</h2>
                    <hr class="light">
                    <p class="text-faded"> Only specific people have the rating
                      privilege. To see the rating options you need to
                      be logged. When logged in if no option is displayed and if
                      you think it should, please use the mail of the contact section.</p>
                    <a href="{{login_url}}" class="page-scroll btn btn-default btn-xl sr-button">LOG IN</a>
                    <a href="#options" class="page-scroll btn btn-default btn-xl sr-button">FIND OUT MORE</a>
                </div>
            </div>
        </div>
    </section>

    <section id="options">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The rating options</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-list text-primary sr-icons"></i>
                        <h3>Index</h3>
                        <p class="text-muted">Click on this button to see 
                          all the waves wating your expertise. Waves are
                          sorted by categories.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-home text-primary sr-icons"></i>
                        <h3>Home</h3>
                        <p class="text-muted">Click on this button to return 
                          to the startupe page with the ratings completion
                          information.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-pie-chart text-primary sr-icons"></i>
                        <h3>Dashboard</h3>
                        <p class="text-muted">Click on this button to see 
                          a summary table with all your ratings.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-sign-in text-primary sr-icons"></i>
                        <h3>Login</h3>
                        <p class="text-muted">Do not forget to login in order
                          to see the rating options.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-sign-out text-primary sr-icons"></i>
                        <h3>Logout</h3>
                        <p class="text-muted">Click on this button to logout.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <div class="call-to-action">
                <h2>Free Software</h2>
                <a href="https://github.com/neurospin/zeijemol" class="btn btn-default btn-xl sr-button">Download Now!</a>
            </div>
        </div>
    </aside>

    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Any questions! Send us an email and we
                      will get back to you as soon as possible!</p>
                </div>
                <div class="col-lg-4 col-lg-offset-2 text-center">
                    <i class="fa fa-at fa-3x sr-contact"></i>
                    <p><a href="http://i2bm.cea.fr/drf/i2bm/Pages/NeuroSpin.aspx">CEA, NeuroSpin</a></p>
                </div>
                <div class="col-lg-4 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:{{contact_email}}">Contact us</a></p>
                </div>
            </div>
        </div>
    </section>

    {% for url in js_url %}
        <script type="text/javascript" src="{{url}}"></script>
    {% endfor %}

</body>

</html>
