{
    "synchronization-interval": "1min",
    "data-cnx-dn": "cn=admin,dc=intra,dc=cea,dc=fr",
    "data-cnx-password": "alpine",
    "user-base-dn": "ou=People,dc=intra,dc=cea,dc=fr",
    "user-attrs-map": "userPassword:upassword,uid:login",
    "group-base-dn": "ou=Groups,dc=intra,dc=cea,dc=fr",
    "group-attrs-map": "memberUid:member,cn:name",
    "url": "ldap://127.0.0.1:389"
}
